[core]
    editor = vim

[alias]
    fix = commit -m
    amend = commit --amend

[color]
    ui = true

[init]
    defaultBranch = master

[user]
	name = Denis Simagin
	email = simagin.mail@yandex.ru
